@import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Popins", sans-serif;
}
:root {
  --invalid-color: #d23737;
  --vaild-color: #1ec973;
  --text-color: #121111;
  --font: "Ysabeau SC", serif;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.info-container {
  width: 40%;
  background-image: url(src/background.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: #12111181;
  color: #fff;
  padding: 2rem;
  position: relative;
  top: 20%;
}
.wrapper > h1 {
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 1rem;
  font-family: var(--font);
}
.logo {
  height: max(15vh, 45%);
  width: max(10vh, 15%);
}
.source-container,
a {
  color: #fff;
  font-weight: 200;
  font-size: 1.2rem;
  font-family: var(--font);
  text-align: center;
  padding: 5px;
}

.form-wrapper {
  width: 60%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30%;
  padding: 2rem;
}
.description > p {
  font-size: 0.9rem;
  font-family: var(--font);
  font-weight: 800;
  color: #000;
}
.form-container {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 2rem;
  height: 70%;
}

.form-container > p {
  font-size: 1.8rem;
  font-family: var(--font);
  color: #000;
}

form {
  font-family: var(--font);
  font-size: 0.9rem;
  text-transform: uppercase;
}

input {
  width: 20rem;
  height: 1.5rem;
  border: 1px solid #4c4b4b;
  border-radius: 5px;
  font-size: 1rem;
}

input:focus {
  outline: none;
  border: 2px solid #0d90d1;
}
input:valid {
  border: 2px solid var(--vaild-color);
}

#password,
#confirm-password {
  border: 2px solid var(--invalid-color);
}
.error-text {
  font-family: "Popins", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: none;
  color: var(--invalid-color);
}
.form-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}
.button-container {
  padding: 0 2rem;
}

.form-fields > div {
  display: flex;
  flex-direction: column;
}
.button-container a {
  text-decoration: none;
  color: rgb(89, 109, 72);
  font-size: 1.2rem;
  font-family: "Popins", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}
button {
  background: rgb(89, 109, 72);
  width: 25%;
  height: 3rem;
  border: none;
  border-radius: 7px;
  font-size: 1.2rem;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  margin: 1rem auto;
}

button:hover {
  background: var(--vaild-color);
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
  }
  .info-container {
    width: 100%;
    height: 50%;
  }
  .form-wrapper {
    width: 100%;
    height: 50%;
  }
  .wrapper {
    top: 0;
  }
  .wrapper > h1 {
    font-size: 3rem;
  }
  .logo {
    height: max(10vh, 25%);
    width: max(10vh, 25%);
  }
  .source-container,
  a {
    font-size: 1rem;
  }
  .description > p {
    font-size: 1.2rem;
  }
  .form-container > p {
    font-size: 1.2rem;
  }
  input {
    width: 100%;
  }
  button {
    width: 100%;
  }
}
